
PROJEKT/.vs/PROJEKT/FileContentIndex/read.lock
*.vsidx
PROJEKT/.vs/PROJEKT/v17/.suo
PROJEKT/.vs/PROJEKT/v17/Solution.VC.db
PROJEKT/PROJEKT/x64/Debug/_IsIncrementalBuild
*.recipe
*.ilk
*.log
*.obj
*.res
PROJEKT/PROJEKT/x64/Debug/PROJEKT.tlog/CL.command.1.tlog
PROJEKT/PROJEKT/x64/Debug/PROJEKT.tlog/CL.read.1.tlog
PROJEKT/PROJEKT/x64/Debug/PROJEKT.tlog/CL.write.1.tlog
PROJEKT/PROJEKT/x64/Debug/PROJEKT.tlog/link.command.1.tlog
PROJEKT/PROJEKT/x64/Debug/PROJEKT.tlog/link.read.1.tlog
PROJEKT/PROJEKT/x64/Debug/PROJEKT.tlog/link.write.1.tlog
PROJEKT/PROJEKT/x64/Debug/PROJEKT.tlog/PROJEKT.lastbuildstate
PROJEKT/PROJEKT/x64/Debug/PROJEKT.tlog/rc.command.1.tlog
PROJEKT/PROJEKT/x64/Debug/PROJEKT.tlog/rc.read.1.tlog
PROJEKT/PROJEKT/x64/Debug/PROJEKT.tlog/rc.write.1.tlog
PROJEKT/PROJEKT/x64/Debug/vc143.idb
PROJEKT/PROJEKT/x64/Debug/vc143.pdb
PROJEKT/PROJEKTasm/x64/Debug/_IsIncrementalBuild
PROJEKT/PROJEKTasm/x64/Debug/PROJEKTasm.tlog/link.command.1.tlog
PROJEKT/PROJEKTasm/x64/Debug/PROJEKTasm.tlog/link.read.1.tlog
PROJEKT/PROJEKTasm/x64/Debug/PROJEKTasm.tlog/link.write.1.tlog
PROJEKT/PROJEKTasm/x64/Debug/PROJEKTasm.tlog/Masm.read.1u.tlog
PROJEKT/PROJEKTasm/x64/Debug/PROJEKTasm.tlog/Masm.write.1u.tlog
PROJEKT/PROJEKTasm/x64/Debug/PROJEKTasm.tlog/PROJEKTasm.lastbuildstate
PROJEKT/PROJEKTasm/x64/Debug/PROJEKTasm.tlog/PROJEKTasm.write.1u.tlog
PROJEKT/PROJEKTforms/x64/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cpp
PROJEKT/PROJEKTforms/x64/Debug/_IsIncrementalBuild
PROJEKT/PROJEKTforms/x64/Debug/PROJEKTforms.Form1.resources
PROJEKT/PROJEKTforms/x64/Debug/PROJEKTforms.pch
PROJEKT/PROJEKTforms/x64/Debug/PROJEKTforms.tlog/CL.command.1.tlog
PROJEKT/PROJEKTforms/x64/Debug/PROJEKTforms.tlog/CL.read.1.tlog
PROJEKT/PROJEKTforms/x64/Debug/PROJEKTforms.tlog/CL.write.1.tlog
PROJEKT/PROJEKTforms/x64/Debug/PROJEKTforms.tlog/link.command.1.tlog
PROJEKT/PROJEKTforms/x64/Debug/PROJEKTforms.tlog/link.read.1.tlog
PROJEKT/PROJEKTforms/x64/Debug/PROJEKTforms.tlog/link.write.1.tlog
PROJEKT/PROJEKTforms/x64/Debug/PROJEKTforms.tlog/metagen.read.1.tlog
PROJEKT/PROJEKTforms/x64/Debug/PROJEKTforms.tlog/metagen.write.1.tlog
PROJEKT/PROJEKTforms/x64/Debug/PROJEKTforms.tlog/PROJEKTforms.lastbuildstate
PROJEKT/PROJEKTforms/x64/Debug/PROJEKTforms.tlog/rc.command.1.tlog
PROJEKT/PROJEKTforms/x64/Debug/PROJEKTforms.tlog/rc.read.1.tlog
PROJEKT/PROJEKTforms/x64/Debug/PROJEKTforms.tlog/rc.write.1.tlog
PROJEKT/PROJEKTforms/x64/Debug/PROJEKTforms.tlog/ResGen.command.1.tlog
PROJEKT/PROJEKTforms/x64/Debug/PROJEKTforms.tlog/ResGen.read.1.tlog
PROJEKT/PROJEKTforms/x64/Debug/PROJEKTforms.tlog/ResGen.write.1.tlog
PROJEKT/PROJEKTforms/x64/Debug/PROJEKTforms.vcxproj.AssemblyReference.cache
PROJEKT/PROJEKTforms/x64/Debug/PROJEKTforms.vcxproj.FileListAbsolute.txt
PROJEKT/PROJEKTforms/x64/Debug/PROJEKTforms.vcxproj.GenerateResource.cache
PROJEKT/PROJEKTforms/x64/Debug/PROJEKTforms.vcxproj.SuggestedBindingRedirects.cache
PROJEKT/PROJEKTforms/x64/Debug/vc143.pdb
PROJEKT/x64/Debug/PROJEKT.exe
PROJEKT/x64/Debug/PROJEKT.pdb
PROJEKT/x64/Debug/PROJEKTasm.dll
PROJEKT/x64/Debug/PROJEKTasm.exp
PROJEKT/x64/Debug/PROJEKTasm.lib
PROJEKT/x64/Debug/PROJEKTasm.pdb
PROJEKT/x64/Debug/PROJEKTforms.exe
PROJEKT/x64/Debug/PROJEKTforms.exe.metagen
PROJEKT/x64/Debug/PROJEKTforms.pdb
